.mainProfile{
    display: flex;
    flex-direction: row;
}

article {
    width: 60%;
    margin: 0 auto;
}
aside {
    width: 35%;
}
.profile {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    padding: 20px 0;
    /* overflow-y: auto; */
    
}
.profile h2{
    text-align: center;
}
.profileImg{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileImgCntr{
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #ffffff;
}
.profileImgCntr img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;

}
.profileImgCntr button {
    position: absolute;
    top: 10px;
    right: 10px;
    /* visibility: hidden; */
    opacity: 0;
    transition: .5s;
    font-size: 2rem;

}
.uploadPicThmb{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 0 auto;
}
.profileImgCntr:hover button, .profileImgCntr:focus button {
    visibility: visible;
    opacity: 1;
}
.card {
    background: #f3f3fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
}
.commentCard {
    width: 100%;
    background: #f3f3fa;
    padding: 0px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    text-align: left;
}
.editBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #ff9f00;
    transition: .3s;
}
.card button:hover, .card button:focus {
    color: #ff9f00;             
}
.userName{
    text-transform: uppercase;
}
.card hr {
    border: .5px solid #b9b9b962;
    margin: 2px 0;
}
.card h2 {
    margin: 10px;
    color: #5b2dff;

}

.bioText{
    text-align: center;
    margin: 20px auto;
}
.bioContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
}
.bioContainer p {
    margin: 5px;
    text-transform: capitalize;
}
.friendsGalleryThumb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.friendsGalleryThumb img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px auto;
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.posts .card {
    margin: 0;
}
.postBtn{
    background: #8a80e0;
    padding: 8px 20px;
    font-size: .9rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}
.postBtnGrey {
    background: #8d8c99;
    color: #414047;
}
.postForm textarea {
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    margin: 10px auto;
    border: 1px solid rgba(201, 201, 201, 0.418);
    background: #e0e0e9;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}
.postForm textarea:active, .postForm textarea:focus {
    background: rgb(255, 255, 255);
    border: #5b2dff;
}

.postedTime{
    font-size: .8rem;
    color: #5b2dff;
    font-family: 'Julius Sans One', sans-serif;
    font-style: italic;
    text-align: left;

}
.readMore{
    font-family: 'Montserrat', sans-serif;
    color: #ff9f00;
    cursor: pointer;
    font-style: italic;
}
.tabBar{
    display: flex;
}

.tab {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background: #d4d4e7;
    margin-right: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}
.tabActive {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background: #ededff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    color: #5b2dff;
    font-weight: 600;
}
.thoughtCntr{
    background: #ededff;
    min-height: 100vh;
    padding: 15px;
    border-radius: 10px;
    border-top-left-radius: 0px;
}
.postersCntr{
    color: #4c4a64;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    font-size: .8rem;
    text-transform: capitalize;
}

.smallThmbNail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.likeBtn {
    cursor: pointer;
}
.likeBtnActive{
    color: #ff9f00;
    cursor: pointer;

}
.likeNum{
    /* font-size: .7rem; */
}
.likeSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    width: 100%;
}
.comment{
    cursor: pointer;
    color: #ff9f00;
}
.commentInput{
    text-align: left;
}
.commentInput input{
    padding: 10px;
    width: 96%;
    border: 1px solid rgba(216, 216, 216, 0.527);
}
.postSection{
    /* border: 1px solid goldenrod; */
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 6px;
}
.postContent{
    min-height: 65px;
}
.notificationContainer ul{
    width: 60%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px 20px;
}
.notificationContainer ul li {
    padding: 20px;
    border-bottom: 1px solid #c4bbe7;
}
.notificationContainer{
    min-height: 85vh;
}


@media (max-width: 1050px) {
    .posts {
        grid-template-columns: 1fr 1fr;
    }
    .friendsGalleryThumb img {
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 750px) {
    .posts {
        grid-template-columns: 1fr;
    }
    .bioContainer {
        width: 91%;
        justify-content: flex-start;
        font-size: .8rem;
        }

}
@media (max-width: 600px) {
    .mainProfile{
        display: flex;
        flex-direction: column;
    }
    article {
        width: 95%;
        margin: 0 auto;
    }
    aside {
        width: 95%;
        margin: 0 auto;
    }
}
